<div class="users-table-container">
  <div class="top-controls">
    <app-infinite-scroll-toggler
      [isInfinite]="isInfiniteMode()"
      (isInfiniteChange)="onInfiniteModeChange($event)"
    >
    </app-infinite-scroll-toggler>

    <div class="pagination-summary">
      @if (isInfiniteMode()) {
        <span>Results loaded: {{ usersData()?.length || 0 }}</span>
      }

      <span>Total results: {{ totalRecordsInDB() }}</span>
    </div>
  </div>

  <div class="filters-row filters-row--name-email">
    <label class="field-group">
      <span>Full Name</span>
      <input
        pInputText
        type="text"
        [ngModel]="fullNameQuery()"
        (ngModelChange)="onFullNameInputChange($event)"
        placeholder="Search by full name"
      />
    </label>

    <label class="field-group">
      <span>Email</span>
      <input
        pInputText
        type="text"
        [ngModel]="emailQuery()"
        (ngModelChange)="onEmailInputChange($event)"
        placeholder="Search by email"
      />
    </label>

    <button pButton type="button" class="reset-button" (click)="resetFilters()">Reset</button>
  </div>

  <div class="filters-row filters-row--custom-selects">
    <p-select
      [options]="positionOptions()"
      [ngModel]="chosenPositionId()"
      (ngModelChange)="onSelectPositionChange($event)"
      optionLabel="name"
      optionValue="id"
      [placeholder]="
        positionOptionsAsyncState() === 'loading' ? 'Loading positions...' : 'Select position'
      "
      [loading]="positionOptionsAsyncState() === 'loading'"
    />

    <p-select
      [options]="levelOptions()"
      [ngModel]="chosenLevelId()"
      (ngModelChange)="onSelectLevelChange($event)"
      optionLabel="name"
      optionValue="id"
      [placeholder]="levelOptionsAsyncState() === 'loading' ? 'Loading levels...' : 'Select level'"
      [loading]="levelOptionsAsyncState() === 'loading'"
    />

    <p-select
      [options]="techOptions()"
      [ngModel]="chosenTechId()"
      (ngModelChange)="onSelectTechChange($event)"
      optionLabel="name"
      optionValue="id"
      [placeholder]="
        techOptionsAsyncState() === 'loading'
          ? 'Loading technologies...'
          : 'Select primary technology'
      "
      [loading]="techOptionsAsyncState() === 'loading'"
    />

    <p-select
      [options]="employmentTypeOptions()"
      [ngModel]="chosenEmploymentTypeId()"
      (ngModelChange)="onSelectEmploymentTypeChange($event)"
      optionLabel="name"
      optionValue="id"
      [placeholder]="
        employmentTypeOptionsAsyncState() === 'loading'
          ? 'Loading employment types...'
          : 'Select employment type'
      "
      [loading]="employmentTypeOptionsAsyncState() === 'loading'"
    />
  </div>

  @if (usersAsyncState() === 'loading') {
    <ng-template [ngTemplateOutlet]="loadingUsers"></ng-template>
  } @else {
    <h2 class="table-title">Users</h2>
  }

  @if (usersAsyncState() === 'error') {
    <ng-template [ngTemplateOutlet]="errorUsers"></ng-template>
  }

  <ng-template [ngTemplateOutlet]="primeNgTable"></ng-template>

  @if (!isInfiniteMode()) {
    <app-custom-paginator
      [disabled]="usersAsyncState() === 'loading'"
      [limit]="limit()"
      [offset]="offset()"
      [total]="totalRecordsInDB()"
      [usePageSizes]="true"
      [pageSizeOptions]="pageSizeOptions()"
      (onPageChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)"
    />
  }
</div>

<ng-template #primeNgTable>
  <p-table
    #usersDataTable
    [loading]="usersAsyncState() === 'loading'"
    class="users-table"
    showGridlines

    [value]="usersData()"
    [tableStyle]="{ 'min-width': '50rem' }"

    [scrollable]="true"
    scrollHeight="500px"
    [virtualScroll]="true"
    [virtualScrollOptions]="scrollOptions"

    [lazy]="isInfiniteMode()"
    [totalRecords]="totalRecordsInDB()"
    [rows]="limit()"
    (onLazyLoad)="loadChunk($event)"
  >
    <ng-template #header>
      <tr>
        <th
          class="sortable-col"
          [ngClass]="{ 'sortable-col--active': currentSortField() === 'firstName' }"
          (click)="sortTable('firstName')"
        >
          <svg class="sort-icon" [pIcon]="getSortIconName('firstName')" size=".8rem"></svg>
          Full name
        </th>
        <th
          class="sortable-col"
          [ngClass]="{ 'sortable-col--active': currentSortField() === 'email' }"
          (click)="sortTable('email')"
        >
          <svg class="sort-icon" [pIcon]="getSortIconName('email')" size=".8rem"></svg>
          Email
        </th>
        <th>Position</th>
        <th>Level</th>
        <th>Primary Technology</th>
        <th>Employment Type</th>
        <th
          class="sortable-col"
          [ngClass]="{ 'sortable-col--active': currentSortField() === 'age' }"
          (click)="sortTable('age')"
        >
          <svg class="sort-icon" [pIcon]="getSortIconName('age')" size=".8rem"></svg>
          Age
        </th>
        <th
          class="sortable-col"
          [ngClass]="{ 'sortable-col--active': currentSortField() === 'salaryMonthly' }"
          (click)="sortTable('salaryMonthly')"
        >
          <svg class="sort-icon" [pIcon]="getSortIconName('salaryMonthly')" size=".8rem"></svg>
          Monthly Salary
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-user>
      <tr>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.position?.name || 'N/A' }}</td>
        <td>{{ user.level?.name || 'N/A' }}</td>
        <td>{{ user.primaryTech?.name || 'N/A' }}</td>
        <td>{{ user.employmentType?.name || 'N/A' }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.salaryMonthly }}</td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <ng-container *ngTemplateOutlet="noUsers"></ng-container>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #loadingUsers>
  <h2 class="table-title">Loading Users...</h2>
</ng-template>

<ng-template #errorUsers>
  <h2 class="table-title">Error loading Users. Please try again.</h2>
</ng-template>

<ng-template #noUsers>
  <tr>
    <td colspan="8">No users found.</td>
  </tr>
</ng-template>
