.users-table-container {
  padding: 25px;
}

.users-table {
  table-layout: fixed;
  width: 100%;

  th {
    font-size: 0.9rem;
  }

  th,
  td {
    height: 56px; // MUST match `itemSize` from scroll options
    width: 12.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      width: 7.5%;
      max-width: 150px;
    }
  }
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.filters-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr)) auto;
  gap: 16px;
  margin: 16px 0 20px;
  align-items: end;
}

.sort-icon {
  margin-right: 0.15rem;
  position: relative;
  top: 1px;
  opacity: 0.5;
}

.sortable-col {
  cursor: pointer;

  &:hover .sort-icon,
  &--active .sort-icon {
    opacity: 1;
  }
}

.no-users {
  margin: 16px 0;
}

.table-title {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.filters-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr)) auto;
  gap: 16px;
  margin: 16px 0 20px;
  align-items: end;

  &--custom-selects {
    grid-template-columns: repeat(3, minmax(220px, 1fr)) auto;
  }
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
}

.field-group input {
  width: 100%;
}

.pagination-summary {
  display: flex;
  gap: 16px;
  font-size: 0.9rem;
}
