@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: #f5f7fb;
}

body {
  min-height: 100vh;
}

app-root {
  display: block;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
